/*** GENERAL ***/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

img {
    width: 80px;
    height: auto;
    margin: 1px;
}

/*** ZONE TIER LIST ***/

#tier-list {
    border-collapse: collapse;
    width: 100%;
    margin: 24px auto;
    border: 1px solid black;
}

/* Lignes */
.tier-row {
    display: flex;
}

.tier-row:not(:last-child) {
    border-bottom: 1px solid black;
}

/* Labels */
.tier-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: auto;
    min-height: 80px;
    border-right: 1px solid black;
    text-align: center;
}

.tier-row:first-child .tier-label {
    background-color: #ff7f7f;
}

.tier-row:nth-child(2) .tier-label {
    background-color: #ffbf7f;
}

.tier-row:nth-child(3) .tier-label {
    background-color: #ffdf7f;
}

.tier-row:nth-child(4) .tier-label {
    background-color: #ffff7f;
}

.tier-row:nth-child(5) .tier-label {
    background-color: #bfff7f;
}

.tier-row:last-child .tier-label {
    background-color: #dddddd;
}

/* Tiers */
.tier {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 2px;
}

/*** ZONE LISTE PERSO ***/
#list-character {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 24px auto;
}
